* {
    font-family: 'Roboto', sans-serif;  
}

/* div {
    outline: solid black 1px;
}*/

body {
    background-color: #f0f0f0;
}

nav button {
    border-radius: 25%;
}

.news-card {
    background-color: white;
}

h2 {
    padding-top: 5px;
}

a {
    text-decoration: none;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

#main-container {
    max-width: 800px;
}