.row {
        
}


body {
    background-color: #f0f0f0;
}

nav button {
    border-radius: 25%;
}

.news-card {
    background-color: white;
}

h2 {
    padding-top: 5px;
}

a {
    text-decoration: none;
}